<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MainWindowEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MainWindowEditor.Properties.Settings>
            <setting name="VisibilityTrue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DockFill" serializeAs="String">
                <value>Fill</value>
            </setting>
            <setting name="NameDefault" serializeAs="String">
                <value>templateBrowser</value>
            </setting>
        </MainWindowEditor.Properties.Settings>
    </userSettings>
</configuration>